/* Google Messages UI */
body {
	display: flex;
}

/* Google Messages PFP Settings Button */
#google-message-settings-icon {
	position: fixed;
	top: 15px;
	right: 19px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 1001;
	width: 42px; /* Set width to match the profile image */
	height: 42px; /* Set height to match the profile image */
}

.google-message-settings-profile-image {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	object-fit: cover;
}

/* Google Messages Profile Modal */
.google-message-modal {
	display: none;
	z-index: 1000;
	left: 0;
	top: 0;
	overflow: auto;
	width: 100%;
	height: 100vh; /* Full height */
	position: absolute;
}

.google-message-modal-content {
	background-color: #131313;
	position: absolute;
	padding: 20px;
	border-radius: 25px;
	top: 78px;
	right: 29px;
	width: 410px;
	/* min-height: 535px; */
	min-height: 300px;
	overflow-y: auto;
	box-shadow: 0 0 10px var(--border_color);
}

.google-message-modal-google-text {
	color: var(--main_text_color);
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.google-message-modal-profile-image {
	width: 90px;
	align-self: center;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	object-fit: cover;
}

.google-message-modal-profile-name {
	color: var(--main_text_color);
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	max-height: 23px;
}

.google-message-modal-settings {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.google-message-modal-settings-button {
	background: none;
	border: 1px solid white;
	border-radius: 31px;
	width: 57%;
	height: 40px;
	align-self: center;
	font-size: 14px;
	color: var(--main_text_color);
}

.google-message-modal-terms-div {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.google-message-modal-terms {
	color: var(--quote_text_color);
	font-size: 12px;
	font-weight: 300;
	text-align: center;
}

.google-message-general-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1002; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity - background overlay */
}

/* Google Messages General Modal */
.google-message-general-modal-content {
	background-color: #131313;
	margin: 10% auto;
	width: 60%; /* Adjust modal width as needed */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 4px 8px 0 var(--border_color);
	color: var(--main_text_color);
	position: relative; /* To position close button */
	padding: 10px;
	max-height: 60vh;
}

.google-message-st-modal-title-div {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.google-message-st-modal-title {
	color: var(--main_text_color);
	font-size: 20px;
	font-weight: 500;
	padding: 0px 0px 0px 10px;
}

.google-message-st-modal-close {
	color: #aaa;
	font-size: 36px;
	font-weight: bold;
	background: none;
	border: none;
	position: relative;
	bottom: 1vh;
}

.google-message-st-modal-close:hover,
.google-message-st-modal-close:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.google-message-st-modal-settings {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.google-message-st-modal-settings2 {
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 100%;
}

.google-message-st-options {
	display: flex;
	flex-direction: column;
	padding: 0px 0px 0px 8px;
	width: 70px;
}

.google-message-st-options::selection {
	background-color: transparent;
}

.google-message-st-options-preview {
	display: initial;
	justify-content: center;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	max-height: 53vh;
}

.google-message-st-option-preview {
	display: none;
}

/* Modify the modal content for mobile */
@media screen and (max-width: 768px) {
	.google-message-modal {
		left: 15px;
	}
	.google-message-modal-content {
		width: 335px;
	}
	.google-message-st-modal-close {
		font-size: 32px;
	}
	.google-message-st-modal-title {
		font-size: 18px;
	}
	.google-message-st-modal-settings2 {
		flex-direction: column;
	}
	.google-message-st-options {
		flex-direction: row;
		width: unset;
	}
	.google-message-general-modal-content {
		min-width: 45vh;
		max-height: unset;
	}
	.google-message-st-options {
		flex-direction: row;
		padding: 0px 0px 5px 0px;
	}
	.google-message-st-options-preview {
		max-height: 72vh;
		height: unset;
	}
	.google-message-st-modal-title-div {
		flex-direction: row;
	}
}

@media screen and (max-width: 1000px) {
	.google-message-modal-content {
		width: 385px;
	}
	.google-message-general-modal-content {
		min-width: 47vh;
		max-height: unset;
	}
}

/* ST Fields */
/* Hide all those that are applicable */
.drawer {
	padding: 10px;
	justify-content: start;
}

.drawer-content {
	background-color: transparent;
	border: none;
	position: unset;
	width: auto;
}

.drawer-toggle {
	padding: 0px 4px 10px 0px;
}

.editable-slider-notification {
	position: inherit;
}

.topRightInset {
	top: 90px;
}

.bg_list {
	width: auto;
}

.flexFlowColumn {
	max-width: 99.5%;
}

#sheld {
	border-radius: 15px;
	height: 100%;
	top: unset;
	max-height: unset;
}

#chat {
	max-height: unset;
}

#completion_prompt_manager_popup {
	max-width: 50%;
}

@media screen and (max-width: 1000px) {
	.mes {
		top: 60px;
	}
	.topRightInset {
		top: 15vh;
	}
}
